<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
        <script>
                 src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"
        </script>
    </head>
    <body>
        <div class="container">
            <p></p>
           
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E1BAQFOdA_ed100zQ/company-background_10000/0/1585148387862?e=1614870000&v=beta&t=8KguwrBqDfipqkvSHwcop7k2Spmhi8myI2g0zuIh2mY"class="img-fluid" alt="responsive image"/>
                    <h4 class="card-title text-center"><a href="{{ url_for('index') }}" class="btn btn-Danger">Back to Dashboard</a>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                            <h4 class="card-title text-center"><form method="POST" action="" enctype="multipart/form-data">
                            <a href="{{ url_for('file') }}" class="dropzone">
                            <p><input type="file" name="file"></p>
                            <p><input type="submit" value="Submit"></p>
                            </form>      
                     </div>
            </div>
            <div class="footer">
                <div class="row">
                <h4>Copyright &copy; 2021.<em>Developed by <a href="mailto:supportagent1@credit-rescue.co.za">supportagent1@credit-rescue.co.za</a></em></h4>
                </div>
             </div>
        </div> 
    </body>
</html>

