<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <ul class="breadcrumb breadcrumb-default">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E1BAQFOdA_ed100zQ/company-background_10000/0/1585148387862?e=1616666400&v=beta&t=bs6lan4JJQklgmbmbB3QYmzw-00F4qhzsH-TJVl-dm0"class="img-fluid" alt="responsive image"/>

                        <li><a href="{{ url_for('franchises_index') }}">Back to Franchises</a></li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li><a href="{{ url_for('index') }}" >Back to Dashboard</a></li></li>
                    </ul> 
                </div>
            
                <hr>
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h4 class="card-title">New Franchises</h4>
                            </div>

                            <div class="card-body">
                                <form method="POST" action="" enctype="multipart/form-data">          
                                   <p><input type="file" name="file"></p>
                                   <p><input type="submit" value="Submit" href="mailto:supportagent1@credit-rescue.co.za"></a></p>
                                   </form> 

                                    <div class="form-group">
                                    <!-- <p>GET IN TOUCH </p> -->
                                    <P>QUERY FOR NEW FRANCHISES</P>
                                    <a input type="submit" class="btn btn-danger" href="mailto:supportagent1@credit-rescue.co.za">GET IN TOUCH </a>
                                    </div>  

                            </div>
                                   
                                <p></p>
                                {% for message in get_flashed_messages() %}
                                    <p class="alert alert-warning" role="alert">{{ message }}</p>
                                {% endfor %}
                            </div>

                            </div>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </body>
</html>