<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
        <script>
                $(document).ready( function () {
                    $('#mytable').DataTable({
                        "ajax": {
                            "url": '{{ url_for("franchises_all") }}',
                            "dataType": "json",
                            "dataSrc": "",
                            "contentType": "application/json"
                        },
                        "paging": true,
                        "ordering": true,
                        "columns": [
                            { "data": "province_id", "defaultContent": "" },
                            { "data":  "fullname", "defaultContent": ""},
                            { "data": "branch", "defaultContent": "" },
                            { "data": "address", "defaultContent": "" },
                            { "data": "email", "defaultContent": "" },
                            { "data": "postal", "defaultContent": "" },
                            { "data": "telephone", "defaultContent": "" },
                            { "data": "cellphone", "defaultContent": "" },
                            { "data": "status", "defaultContent": "" }
                        ],
                        "columnDefs": [{
                            "targets": '_all',
                            "defaultContent": ""
                        }]
                    });
                } );
    
        </script>
    </head>

    <body>
        <div class="container">
            <p></p>
           
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E1BAQFOdA_ed100zQ/company-background_10000/0/1585148387862?e=1615982400&v=beta&t=UJ7V9sTWA-5skeZU0rl_omJoff80PNW12MraD2n816Y"img-fluid" alt="responsive image"/>
                    <h2>Franchices</h2>
                    <h4 class="card-title text-center"><a href="{{ url_for('franchises_add') }}" class="btn btn-Danger">New Franchise</a>
                    <a href="{{ url_for('index') }}" class="btn btn-Danger">Back to Dashboard</a>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-stripped" id="mytable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Province Name</th>
                                <th>Name</th>
                                <th>Branch</th>
                                <th>Address</th>
                                <th>Email Address</th>
                                <th>Postal Code</th>
                                <th>Business Tell</th>
                                <th>Cell</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div> 
    </body>
</html>